---
import BaseLayout from "@layouts/BaseLayout.astro";
import HomeLayout from "@layouts/HomeLayout.astro";
import type { Language } from "src/bin/types";

import i18n from "../../data/i18n-data.json";

const language: Language = "en";
---

<BaseLayout title="Betomeng" page={i18n.navigation.home[language]}>
  <HomeLayout language={language}>
    <h1>Betomeng (en)</h1>
  </HomeLayout>
</BaseLayout>
