---
import { Icon } from "astro-icon";
import Navigation from "./Navigation.astro";
---

<header
  id="header"
  class:list={[
    "fixed inset-x-0 top-0 z-40 flex justify-center h-16 px-4 sm:px-20",
  ]}
  style={{
    transition: "background 300ms, shadown 300ms, backdrop-filter 300ms",
  }}
>
  <div class="overflow-hidden flex justify-between flex-grow max-w-4xl">
    <a href="/" class="fall-down flex items-center">
      <span class="h-6 sm:h-10">
        <Icon name="blue-room-logo" />
      </span>

      <p id="header-title" class="fall-down ml-3 text-xl sm:text-2xl">
        Betomeng
      </p>
    </a>

    <div id="header-navigation" class="flex ml-8">
      <Navigation />
    </div>
  </div>
</header>

<script>
  const header: HTMLElement = document.querySelector("header")!;

  function handleHeaderStyles(header: HTMLElement) {
    let pageScrollPositionTop = window.scrollY === 0;

    if (pageScrollPositionTop) {
      header.classList.remove("bg-gray-900", "bg-opacity-50", "shadow-md");
    } else {
      header.classList.add("bg-gray-900", "bg-opacity-50", "shadow-md");
    }
  }

  window.addEventListener("scroll", () => handleHeaderStyles(header));

  handleHeaderStyles(header);
</script>
