---
import Header from "@components/Header.astro";
import Copyright from "@components/Copyright.astro";

import type { Language } from "src/bin/types";

export interface Props {
  language: Language;
  title: string;
  page: string;
}

const { language, title, page } = Astro.props;
---

<!DOCTYPE html>
<html
  lang="en"
  class="bg-black"
  style={{ backgroundImage: "url(/images/dark-leather-teal.jpg)" }}
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - {page}</title>
  </head>

  <body
    class="relative"
    style={{ backgroundImage: "url(~@/assets/images/dark-leather-teal.jpg)" }}
  >
    <div class="min-h-screen text-gray-100 pb-12">
      <Header language={language} />

      <main class="relative z-30">
        <slot />
      </main>
    </div>

    <Copyright />
  </body>
</html>
