---
import Header from "@components/Header.astro";

export interface Props {
  title: string;
  page: string;
}

const { title, page } = Astro.props;
---

<!DOCTYPE html>
<html
  lang="en"
  class="bg-black opacity-0"
  style={{ backgroundImage: "url(/images/dark-leather-teal.jpg)" }}
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - {page}</title>
  </head>

  <body
    style={{ backgroundImage: "url(~@/assets/images/dark-leather-teal.jpg)" }}
  >
    <div class="min-h-screen text-gray-100">
      <Header />

      <main class="relative z-30 pb-24">
        <slot />
      </main>

      <a
        href="https://github.com/milosdjakovic/"
        class="inline-block w-full py-6 mx-auto text-xs text-center text-gray-600 -pb-10 hover:text-blue-300 hover:underline"
      >
        © {new Date().getFullYear()}, Miloš Đaković
      </a>
    </div>
  </body>

  <script>
    import gsap from "gsap";

    const tl = gsap.timeline({
      defaults: { duration: 0.6, ease: "elastic.inOut(0.4 , 0.8)" },
    });

    tl.to("html", { opacity: 1 });
    tl.from("#header", { y: "-100%" });
    tl.from("#header-blue-room-logo", { rotate: 360 }, "-=0.5");
    tl.from("#header-title", {}, "-=0.6");
    tl.from(".fall-down", { y: "-4rem", stagger: 0.13 }, "-=0.6");
  </script>
</html>
