---
import { Picture } from "astro-imagetools/components";

import type { Language } from "src/bin/types";
import { setLanguage } from "src/bin/language";

import i18n from "../data/i18n-data.json";

export interface Props {
  language: Language;
}

const { language } = Astro.props;
---

<div class="flex justify-center p-8 sm:p-20">
  <div class="flex-grow max-w-4xl">
    <Picture
      src="/images/betomeng-profile.jpg"
      alt="Betomeng performing at a night club"
      placeholder="none"
      attributes={{
        picture: {
          id: "profile-image",
          class:
            "object-cover object-center mx-auto rounded-full md:mt-10 md:mb-10 md:ml-10 md:float-right w-84",
        },
        img: {
          class:
            "object-cover object-center mx-auto rounded-full md:mt-10 md:mb-10 md:ml-10 md:float-right w-84",
          style: "shape-outside: circle(50%)",
        },
      }}
    />

    <div class="mt-16 text-gray-300 md:mt-12 md:mr-48">
      <div id="page-title" class="flex justify-between mb-6">
        <h1 class="text-2xl">{i18n.page.biography.title[language]}</h1>
        <div class="ml-4 text-gray-500">
          <a
            href="/en/biography"
            class:list={[
              "language-switch-button",
              { "text-blue-400": language === "en" },
            ]}
            onclick="window.localStorage.setItem('language', 'en'); window.localStorage.setItem('last-visited-page', '/biography');"
          >
            EN
          </a>
          /
          <a
            href="/rs/biografija"
            class:list={[
              "language-switch-button",
              { "text-blue-400": language === "rs" },
            ]}
            onclick="window.localStorage.setItem('language', 'rs'); window.localStorage.setItem('last-visited-page', '/biografija');"
          >
            RS
          </a>
        </div>
      </div>

      <div id="page-content">
        <p>{i18n.page.biography.content[language]}</p>
      </div>
    </div>
  </div>
</div>
