---
import type { Language } from "src/bin/types";

import { Icon } from "astro-icon";
import { Picture } from "astro-imagetools/components";

import socialMediaLinks from "../data/social-media-links.json";

export interface Props {
  language: Language;
}

const { language } = Astro.props;
---

<div class="overflow-hidden">
  <Picture
    src="/images/betomeng-hero.jpg"
    alt="Betomeng performing at a Drugstore night club"
    attributes={{
      picture: {
        id: "hero-image",
        style: "min-width: 100%",
      },
      img: {
        class: "object-cover h-96 sm:h-auto",
        style: "min-height: 80vh; max-height: 100vh; min-width: 100%",
      },
    }}
  />

  <div
    id="page-content"
    class="flex justify-center w-full px-8 sm:px-20 pb-28 lg:pt-36 lg:pb-56"
    style={{
      background:
        "linear-gradient(180deg, rgba(0,0,0,1) 15%, rgba(0,0,0,0) 100%)",
    }}
  >
    <div class="grid grid-cols-1 overflow-auto sm:grid-cols-2">
      {
        socialMediaLinks.map(({ url, icon, label }) => (
          <a
            href={url}
            class:list={[
              "flex items-center my-3 hover:underline",
              {
                "hover:text-facebook-blue": icon === "facebook-logo",
                "hover:text-youtube-red": icon === "youtube-logo",
                "hover:text-soundcloud-orange": icon === "soundcloud-logo",
                "hover:text-mixcloud-purple": icon === "mixcloud-logo",
              },
            ]}
          >
            <Icon name={icon} />

            <span class="ml-2">{label}</span>
          </a>
        ))
      }
    </div>
  </div>
</div>

<script></script>
